.battlePage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
}

.wipWarning {
    position: absolute;
    background-color: yellow;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 6;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.bgTexture {
  position: fixed;
  inset: 0;
  z-index: 0;
  opacity: 0.1;
  pointer-events: none;
  background-image: url('/battle-bg.jpg');
  background-size: 600px 350px;
  background-position: center;
  background-repeat: repeat;
}

.vignetteScanline {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  /* Scanline horizontal lines */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.2)
  );
  background-size: 100% 4px;
}

.battleContainer {
 height:100vh;
 width: 35vw;
 @media (max-width: 1366px){
    width: 45vw;
 }

 @media (max-width: 971px){
  width: 100vw;
 background-color: color-mix(in srgb, var(--background) 12%, transparent);

 }
 z-index: 5;
 position: relative;
 background-color: color-mix(in srgb, var(--background) 85%, transparent);

 display:flex;
 flex-direction: column;
 align-items: center;
 gap: 15vh;
}

